body {
  background-image: url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.weather-container {
  background: rgb(71,65,193);
  background: linear-gradient(90deg, rgba(71,65,193,1) 0%, rgba(88,86,227,1) 37%, rgba(84,204,227,1) 57%, rgba(0,212,255,1) 100%);
  max-width: 650px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px;
}

.search-form {
  margin-left: 10px;
  padding: 30px 20px;
}

.search-form-input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f9f7fe;
  border-width: 400px;
  border-style: initial;
  border-radius: 5px;
  padding: 20px;
  width: 75%;
}

.search-button {
  background-color: #885df1;
  color: #ffffff;
  font-size: 16px;
  border-width: 45px;
  border-style: initial;
  border-radius: 5px;
  padding: 20px 20px 20px;
  height: 60px;
  line-height: 20px;
}

.current-weather-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0 50px;
  margin-left: 10px;
}

.city-name {
  color: black;
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.current-weather-info {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #a9a6b3;
  padding-left: 15px;
  margin-left: 10px;
}

.humidity,
.wind-speed {
  color: #f65282;
  font-weight: 700;
}

.current-weather {
  display: flex;
  color: black;
  font-family: "Roboto", sans-serif;
  align-items: center;
  font-size: 88px;
  font-weight: 700;
  top: -300px;
}

.weather-icon {
  margin-right: -5px;
  font-size: 60px;
}

.temperature {
  font-size: 88px;
  position: relative;
  top: -2px;
}

.temperature-unit {
  font-size: 28px;
  position: relative;
  font-weight: 400;
  top: -20px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.full-weather-forecast {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-day {
  text-align: center;
  color: #a9a6b3;
  line-height: 11px;
  margin-bottom: 15px;
}

.weather-forecast-icon {
  width: 85px;
  height: 85px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  color: #f65282;
}

.weather-forecast-temperature {
  padding: 0 5px;
}

footer {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}
